<a href="https://colab.research.google.com/github/jatinsihag234/jatin/blob/main/jatinsihagday1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Python Program to Print Hello World!

In [ ]:
print("hello world")

hello world

2. Write a program for the addition of Two Numbers.

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
print("The sum of {0} and {1} is {2}".format(num1, num2, sum))

Enter first number: 5
Enter second number: 6
The sum of 5.0 and 6.0 is 11.0

3. Write a program to Read Two Numbers and Print Their Quotient and Remainder.

In [13]:
a=int(input("enter a number"))
b=int(input("enter a number"))
l=a%b
j=a/b
print("remainder of the entries is:",l)
print("quotient of the entries is:",j)

enter a number1
enter a number2
remainder of the entries is: 1
quotient of the entries is: 0.5

4. Write a program to Find the Average of Three Numbers.

In [31]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
d=(a+b+c)/3
print("average",d)

enter a number7
enter a number9
enter a number10
average 8.666666666666666

5. Write a program to Calculate Sum of 5 Subjects and Find Percentage (Max Mark in each subject is 100).

In [17]:
a=int(input("enter the marks in subject 1"))
b=int(input("enter the marks in subject 2"))
c=int(input("enter the marks in subject 3"))
d=int(input("enter the marks in subject 4"))
e=int(input("enter the marks in subject 5"))
g=a+b+c+d+e
percentage=(g*100)/500
print("percentage",percentage)

enter the marks in subject 192
enter the marks in subject 299
enter the marks in subject 387
enter the marks in subject 490
enter the marks in subject 587
percentage 91.0

6. Write a program to find gross salary.

In [18]:
basic=int(input("enter basic salary:"))
hra=int(input("enter human resource allowances:"))
da=int(input("enter derness allowances:"))
hra=(hra/100)*basic
print(hra)
da=(da/100)*basic
print(da)
grosssalary=basic+hra+da
print("gross salary=",grosssalary)

enter basic salary:500000
enter human resource allowances:25000
enter derness allowances:50000
125000000.0
250000000.0
gross salary= 375500000.0

7. Write a program to Calculate Area of Rectangle, Square.

In [20]:
g=int(input("to calculate the area to rectangle enter 1 and for square 0:"))
if(g==1):
  l=int(input("enter the lenghth:"))
  b=int(input("enter the breadth:"))
  area=l*b
else:
  s=int(input("enter the side:"))
  area=s**2
print('Area=',area)

to calculate the area to rectangle enter 1 and for square 0:4
enter the side:4
Area= 16


8. Write a program to Calculate Area of Scalene Triangle and Right-angle Triangle.

In [21]:
a=int(input("enter the side 1:"))
b=int(input("enter the side 2:"))
c=int(input("enter the side 3:"))
s=(a+b+c)/2
d=s*(s-a)*(s-b)*(s-c)
area=d**(1/2)
print("area of triangle",area)

enter the side 1:6
enter the side 2:4
enter the side 3:8
area of triangle 11.61895003862225

9. Write a program to find the volume and surface area of cube, cuboids and cylinder.

In [23]:
     a=int(input("To calculate area and volume of cube enter 1 ,for cuboid enter 2 and for cylinder enter 3:"))
if(a==2):
  l=int(input("enter the length:"))
  b=int(input("enter the breadth:"))
  h=int(input("enter the height:"))
  volume=l*b*h
  area=2*(l*b+b*h+h*l)
elif(a==1):
  s=int(input("enter the side:")) 
  volume=s**3
  area=6*(s**2) 
elif(a==3):
  r=int(input("enter the radius:"))  
  h=int(input("enter the height:"))
  volume=(3.14)*(r**2)*h
  area=2*(3.14)*r*h + (3.14)*(r**2)
print("area:",area)
print("volume:",volume)

To calculate area and volume of cube enter 1 ,for cuboid enter 2 and for cylinder enter 3:1
enter the side:2
area: 24
volume: 8

10. Write a program to Calculate Volume and surface area of Cone, Sphere and Cylinder.

In [24]:
a=int(input("To calculate area and volume of cone enter 1 ,for sphere enter 2 and for cylinder enter 3:"))
if(a==1):
  r=int(input("enter the radius:"))
  h=int(input("enter the height:"))
  l=int(input("enter the slant height:"))
  volume=(1/3)*(3.14)*(r**2)*h
  area=(3.14)*(r)*(r+l)
elif(a==2):
  r=int(input("enter the radius:")) 
  volume=(4/3)*(r**3)*(3.14)
  area=4*(r**2)*(3.14)
elif(a==3):
  r=int(input("enter the radius:"))  
  h=int(input("enter the height:"))
  volume=(3.14)*(r**2)*h
  area=2*(3.14)*r*h + (3.14)*(r**2)
print("area:",area)
print("volume:",volume)

To calculate area and volume of cone enter 1 ,for sphere enter 2 and for cylinder enter 3:3
enter the radius:4
enter the height:5
area: 175.84
volume: 251.20000000000002

11. Write a program to find the area of trapezium, rhombus and parallelogram.

In [32]:
a=int(input("To calculate area of trapezium enter 1 ,for rhombus enter 2 and for parallelogram enter 3:"))
if(a==1):
  a=int(input("enter the base1:"))
  b=int(input("enter the base2:"))
  h=int(input("enter the height:"))
  area=((a+b)*h)/2
elif(a==2):
  p=int(input("enter the diagonal1:"))
  q=int(input("enter the diagonal2:")) 
  area=(p*q)/2
elif(a==3):
  b=int(input("enter the base:"))  
  h=int(input("enter the height:"))
  area=b*h
print("area:",area)

To calculate area of trapezium enter 1 ,for rhombus enter 2 and for parallelogram enter 3:3
enter the base:5
enter the height:8
area: 40

12. Write a program to find the perimeter of a circle, rectangle and triangle.

In [38]:
a=int(input("To calculate perimeter of circle enter 1 ,for rectangle enter 2 and for triangle enter 3:"))
if(a==1):
  r=int(input("enter the radius:"))
  p=2*(3.14)*r
elif(a==2):
  l=int(input("enter the length:"))
  b=int(input("enter the breadth:")) 
  p=2*(l+b)
elif(a==3):
  s1=int(input("enter the side1:"))  
  s2=int(input("enter the side2:"))
  s3=int(input("enter the side3:"))
  p=s1+s2+s3
print("perimeter:",p)

To calculate perimeter of circle enter 1 ,for rectangle enter 2 and for triangle enter 3:2
enter the length:4
enter the breadth:6
perimeter: 20

13. Write a program to Compute Simple Interest.

In [39]:
from IPython.utils.sysinfo import pprint
p=int(input("enter initial principal amount:"))
r=int(input("enter the rate:"))
n=int(input("enter the number of times interest applied per time period:"))
t=int(input("enter the time period:"))
a=p*((1+(r/n))**(n*t))
ci=a-p
print("compound intrest:",ci)

enter initial principal amount:6
enter the rate:7
enter the number of times interest applied per time period:9
enter the time period:3
compound intrest: 33484433.006985754

14. Write a program to Convert Fahrenheit temperature in to Celsius.

In [40]:
f=int(input("enter the value:"))
c=(9*(f-32))/5
print("Incelcius:",c)

enter the value:15
Incelcius: -30.6

15. Write a program to Find the Gravitational Force Acting Between Two Objects.

In [41]:
m1=int(input("mass of object 1 in kg:"))
m2=int(input("mass of object 2 in kg:"))
r=int(input("distance between m1 and m2 in metre:"))
f=(m1*m2)/(r**2)
print("gravitational force:",f,"N")

mass of object 1 in kg:60
mass of object 2 in kg:20
distance between m1 and m2 in metre:10
gravitational force: 12.0 N

16. Write a program to swap the values of two variables with and without using third variable.

In [42]:
a=int(input("to swap value of two no. by using third value press 1 and without it press 2:"))
b=int(input("enter the first number:"))
c=int(input("enter the second number:"))
if(a==1):
  d=b+c
  b=d-b
  c=d-c
else:
  b,c==c,b
print("the first no=",b)
print("the second no=",c)

to swap value of two no. by using third value press 1 and without it press 2:34
enter the first number:56
enter the second number:23
the first no= 56
the second no= 23

17. Write a program to perform arithmetic operations on a = 8, b = 3.

In [44]:
a=8
b=3
sum=a+b
sub=a-b
mup=a*b
div=a/b
print("sum=",sum,"sub=",sub,"mup=",mup,"div=",div)

sum= 11 sub= 5 mup= 24 div= 2.6666666666666665

18. Write a program to apply relational operations on a=8, b=3.

In [46]:
a=8
b=3
y=bool(a>b)
x=bool(a==b)
z=bool(a<b)
w=bool(a<=b)
v=bool(a>=b)
print(x,y,z,w,v)

False True False False True

19. Write a program to apply assignment operations on a=8, b=3.

In [47]:
a=8
b=3
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)
a/=b
print(a)

11
8
24
8.0

20. Write a program to apply logical operations on a=8, b=3.

In [48]:
a=8
b=3
f=bool(a>4 and b>4)
g=bool(a>4 or b>4)
print(f,g)

False True

21. Write a program to apply bitwise operations on a=8, b=3.

In [50]:
a=8
b=3
c=a>>2
d=a<<4
e=b>>2
f=b

22. Write a program to apply identity operators.

In [51]:
a=8
b=3
y=a is b
print(y)

False

23. Write a program to Swap the Contents of two Numbers using Bitwise XOR Operation

24. Write a program to Multiply given Number by 4 using Bitwise Operators.

25. Python Program to Find the Square Root.

In [52]:
a=int(input("enter a number"))
b=a**(1/2)
print("square root=",b)

enter a number2
square root= 1.4142135623730951

26. Python program to convert all units of time into seconds.

27. Python program to calculate midpoints of a line-segment.

In [53]:
l=int(input('enter the lenth of line segment:'))
mid=l//2
print(mid)

enter the lenth of line segment:5
2

28. Python program to display your details like name, age, address in three different lines.